# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

apps/mobile/*.iml
apps/mobile/.kotlin
apps/mobile/.gradle
apps/mobile/**/build/
apps/mobile/xcuserdata
apps/mobile/!src/**/build/
apps/mobile/local.properties
apps/mobile/.idea
apps/mobile/.DS_Store
apps/mobile/captures
apps/mobile/.externalNativeBuild
apps/mobile/.cxx
apps/mobile/*.xcodeproj/*
apps/mobile/!*.xcodeproj/project.pbxproj
apps/mobile/!*.xcodeproj/xcshareddata/
apps/mobile/!*.xcodeproj/project.xcworkspace/
apps/mobile/!*.xcworkspace/contents.xcworkspacedata
apps/mobile/**/xcshareddata/WorkspaceSettings.xcsettings
apps/mobile/node_modules/
