# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

kmp/*.iml
kmp/.kotlin
kmp/.gradle
kmp/**/build/
kmp/xcuserdata
kmp/!src/**/build/
kmp/local.properties
kmp/.idea
kmp/.DS_Store
kmp/captures
kmp/.externalNativeBuild
kmp/.cxx
kmp/*.xcodeproj/*
kmp/!*.xcodeproj/project.pbxproj
kmp/!*.xcodeproj/xcshareddata/
kmp/!*.xcodeproj/project.xcworkspace/
kmp/!*.xcworkspace/contents.xcworkspacedata
kmp/**/xcshareddata/WorkspaceSettings.xcsettings
kmp/node_modules/
